body {
	display: flex;
	justify-content:center;
	align-items:center;
	height: 600px;
}

.board {
	background-color: rgba(194, 198, 201, 0.75);
	width:400px;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-wrap: wrap;
}

.cell {
	width: 80px;
	height: 80px;
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: rgb(128, 95, 95);
	margin: 5px;
	cursor: pointer;
	border-radius: 50%;
}

.goblin {
	width: 80px;
}
